<div class ="container">
	<div class ="row" "col-sm-3">
		<p> Hi <%=@user.first_name%> </p>
	</div>

	<div class ="row" "col-sm-6">
		<h3>All Tasks</h3>
		<table class="table table-striped" style="width: 50%">
			<thead>
				<tr>
					<th>Task</th>
					<th>Frequency</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%@user_tasks.each do |task|%>
					<tr>
						<td><%=task.name%></td> 
						<td><%=task.freq%></td>
						<td>
							<form role="form" action ="/tasks/<%=task.id%>" method ="post">
								<input name ="authenticity_token" value ="<%= form_authenticity_token%>" type="hidden">
								<input name ="_method" value ="delete" type="hidden">
								<button type="submit" class="btn btn-default">Remove</button>
							</form>
						</td>
					</tr>
				<%end%>
			</tbody>
		</table>

	</div>
	<div class ="row" "col-sm-3">
		<h3>Add Tasks</h3>
		<div class ="col-sm-3">
			<form role="form" action ="/tasks" method ="post">
				<input name ="authenticity_token" value ="<%= form_authenticity_token%>" type="hidden">
			  <div class="form-group">
			    <label for="name">Task name:</label>
			    <input type="text" class="form-control" id="name" name="name">
			  </div>
			  <div class="form-group">
			    <label for="frequency">Frequency:</label>
			    	<form>
			    		<input type='radio' name='freq' value='every_15mins'>Every 15mins
			    		<input type='radio' name='freq' value='every_30mins'>Every 30mins
			    		<input type='radio' name='freq' value='every_hour'>Every Hour
			    		<input type='radio' name='freq' value='every_3hours'>Every 3 Hours
			    		<input type='radio' name='freq' value='in_5mins'>In 5 minutes
			    		<input type='radio' name='freq' value='in_10mins'>In 10 minutes
			    		<input type='radio' name='freq' value='in_15mins'>In 15 minutes
			    		<input type='radio' name='freq' value='in_30mins'>In 30 minutes
			    		<input type='radio' name='freq' value='in_1hour'>In 1 hour
<!-- 			    <select class="form-control" name="frequency">
					<option value="10m">Every 10 minutes</option>
					<option value="30m">Every 30 minutes</option>
					<option value="1h">Every hour</option>
					<option value="1d">Every day</option>
					<option value="1w">Every week</option>
					<option value="1M">Every month</option>
					<option value="1y">Every year</option>
				</select> -->
			  <button type="submit" class="btn btn-default">Add Task</button>
			</form>
		</div>
	</div>


</div>