<div class ="container">
	<div class ="row" "col-sm-3">
		<h2 style ="display:inline-block"> Hello <%=@user.first_name%> !</h2>
		<%= image_tag("remindme-07.png", :alt => "logo", :style =>"width: 100px; height:150px; float:right;") %>
	</div>

	<div class ="row" "col-sm-8" "col-sm-offset-2" >
		<h3>All Tasks</h3>
		<table class="table table-striped" style="width: 100%">
			<thead>
				<tr>
					<th>Task</th>
					<th>Frequency</th>
					<th>Created at </th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%@user_tasks.each do |task|%>
					<tr>
						<td><%=task.name%></td> 
						<td><%=task.freq.sub(/_/, " ")%></td>
						<td><%=task.created_at.strftime("%b %d, %Y %I:%M %p")%></td>
						<td>
							<form role="form" action ="/tasks/<%=task.id%>" method ="post">
								<input name ="authenticity_token" value ="<%= form_authenticity_token%>" type="hidden">
								<input name ="_method" value ="delete" type="hidden">
								<input type='hidden' name='to_p' value='<%= task.name %>'>
								<button type="submit" class="btn btn-default">Remove</button>
							</form>
						</td>
					</tr>
				<%end%>
			</tbody>
		</table>

	</div>
	<div class ="row" "col-sm-4">
		<h3>Add Tasks</h3>
		<div class ="col-sm-3">
			<form role="form" action ="/tasks" method ="post">
				<input name ="authenticity_token" value ="<%= form_authenticity_token%>" type="hidden">
			  <div class="form-group">
			    <label for="name">Task name:</label>
			    <input type="text" class="form-control" id="name" name="name">
			  </div>
			  <div class="form-group">
			    <label for="frequency">Frequency:</label>
			    	<div class="radio">
			    		<input type='radio' name='freq' value='every_15mins'>Every 15mins
			    	</div>
			    	<div class="radio">
			    		<input type='radio' name='freq' value='every_30mins'>Every 30mins
			    	</div>
			    	<div class="radio">
			    		<input type='radio' name='freq' value='every_hour'>Every Hour
			    	</div>
			    	<div class="radio">
			    		<input type='radio' name='freq' value='every_3hours'>Every 3 Hours
			    	</div>
			    	<div class="radio">
			    		<input type='radio' name='freq' value='in_5mins'>In 5 minutes
			    	</div>
			    	<div class="radio">
			    		<input type='radio' name='freq' value='in_10mins'>In 10 minutes
			    	</div>
			    	<div class="radio">
			    		<input type='radio' name='freq' value='in_15mins'>In 15 minutes
			    	</div>
			    	<div class="radio">
			    		<input type='radio' name='freq' value='in_30mins'>In 30 minutes
			    	</div>
			    	<div class="radio">
			    		<input type='radio' name='freq' value='in_1hour'>In 1 hour
			    	</div>
			  <button type="submit" class="btn btn-default">Add Task</button>
			</form>

		</div>
	</div>
</div>